--
-- PostgreSQL database dump
--

\restrict E3UQ8t4vggIVWPRgyNfazM71pRx0AzDpWDyfwmAQmjwODPqXU8LEQ2ZCDJXm3Le

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: create_business(integer, character varying, character varying, character varying); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.create_business(p_user_id integer, p_business_name character varying, p_business_type character varying, p_whatsapp_number character varying) RETURNS TABLE(id integer, user_id integer, business_name character varying, business_type character varying, whatsapp_number character varying, created_at timestamp without time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  INSERT INTO businesses (user_id, business_name, business_type, whatsapp_number)
  VALUES (p_user_id, p_business_name, p_business_type, p_whatsapp_number)
  RETURNING businesses.id, businesses.user_id, businesses.business_name, 
            businesses.business_type, businesses.whatsapp_number, businesses.created_at;
END;
$$;


ALTER FUNCTION public.create_business(p_user_id integer, p_business_name character varying, p_business_type character varying, p_whatsapp_number character varying) OWNER TO sinpe_user;

--
-- Name: create_customer(integer, character varying, character varying, boolean, integer, numeric, date); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.create_customer(p_business_id integer, p_phone character varying, p_full_name character varying, p_is_verified boolean, p_payment_due_day integer, p_monthly_fee numeric, p_membership_start_date date) RETURNS TABLE(id integer, business_id integer, phone character varying, full_name character varying, is_verified boolean, total_purchases integer, total_spent numeric, last_purchase_date timestamp without time zone, frequent_buyer_flag boolean, payment_due_day integer, monthly_fee numeric, membership_start_date date, on_time_payment_count integer, late_payment_count integer, missed_payment_count integer, good_standing_flag boolean, created_at timestamp without time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  INSERT INTO customers (
    business_id, phone, full_name, is_verified,
    payment_due_day, monthly_fee, membership_start_date
  )
  VALUES (
    p_business_id, p_phone, p_full_name, p_is_verified,
    p_payment_due_day, p_monthly_fee, p_membership_start_date
  )
  RETURNING customers.*;
END;
$$;


ALTER FUNCTION public.create_customer(p_business_id integer, p_phone character varying, p_full_name character varying, p_is_verified boolean, p_payment_due_day integer, p_monthly_fee numeric, p_membership_start_date date) OWNER TO sinpe_user;

--
-- Name: create_notification(integer, integer, character varying, text); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.create_notification(p_business_id integer, p_payment_id integer, p_notification_type character varying, p_message text) RETURNS TABLE(id integer, business_id integer, payment_id integer, notification_type character varying, message text, is_read boolean, created_at timestamp without time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  INSERT INTO notifications (business_id, payment_id, notification_type, message)
  VALUES (p_business_id, p_payment_id, p_notification_type, p_message)
  RETURNING notifications.*;
END;
$$;


ALTER FUNCTION public.create_notification(p_business_id integer, p_payment_id integer, p_notification_type character varying, p_message text) OWNER TO sinpe_user;

--
-- Name: create_payment(integer, integer, numeric, timestamp without time zone, character varying, character varying, character varying, text, integer, integer, boolean, boolean, character varying); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.create_payment(p_business_id integer, p_customer_id integer, p_amount numeric, p_payment_date timestamp without time zone, p_sinpe_reference character varying, p_sender_name character varying, p_sender_phone character varying, p_image_url text, p_payment_period_month integer, p_payment_period_year integer, p_is_duplicate_flag boolean, p_amount_mismatch_flag boolean, p_status character varying) RETURNS TABLE(id integer, business_id integer, customer_id integer, amount numeric, payment_date timestamp without time zone, sinpe_reference character varying, sender_name character varying, sender_phone character varying, image_url text, payment_period_month integer, payment_period_year integer, is_duplicate_flag boolean, amount_mismatch_flag boolean, status character varying, created_at timestamp without time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  INSERT INTO payments (
    business_id, customer_id, amount, payment_date, sinpe_reference,
    sender_name, sender_phone, image_url, payment_period_month,
    payment_period_year, is_duplicate_flag, amount_mismatch_flag, status
  )
  VALUES (
    p_business_id, p_customer_id, p_amount, p_payment_date, p_sinpe_reference,
    p_sender_name, p_sender_phone, p_image_url, p_payment_period_month,
    p_payment_period_year, p_is_duplicate_flag, p_amount_mismatch_flag, p_status
  )
  RETURNING payments.*;
END;
$$;


ALTER FUNCTION public.create_payment(p_business_id integer, p_customer_id integer, p_amount numeric, p_payment_date timestamp without time zone, p_sinpe_reference character varying, p_sender_name character varying, p_sender_phone character varying, p_image_url text, p_payment_period_month integer, p_payment_period_year integer, p_is_duplicate_flag boolean, p_amount_mismatch_flag boolean, p_status character varying) OWNER TO sinpe_user;

--
-- Name: create_user(character varying, character varying, character varying, character varying); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.create_user(p_email character varying, p_password_hash character varying, p_full_name character varying, p_phone character varying) RETURNS TABLE(id integer, email character varying, full_name character varying, phone character varying, created_at timestamp without time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  INSERT INTO users (email, password_hash, full_name, phone)
  VALUES (p_email, p_password_hash, p_full_name, p_phone)
  RETURNING users.id, users.email, users.full_name, users.phone, users.created_at;
END;
$$;


ALTER FUNCTION public.create_user(p_email character varying, p_password_hash character varying, p_full_name character varying, p_phone character varying) OWNER TO sinpe_user;

--
-- Name: create_user(character varying, character varying, character varying, character varying, character varying); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.create_user(p_email character varying, p_password_hash character varying, p_full_name character varying, p_phone character varying, p_role character varying DEFAULT 'user'::character varying) RETURNS TABLE(id integer, email character varying, full_name character varying, phone character varying, role character varying, created_at timestamp without time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  INSERT INTO users (email, password_hash, full_name, phone, role)
  VALUES (p_email, p_password_hash, p_full_name, p_phone, p_role)
  RETURNING users.id, users.email, users.full_name, users.phone, users.role, users.created_at;
END;
$$;


ALTER FUNCTION public.create_user(p_email character varying, p_password_hash character varying, p_full_name character varying, p_phone character varying, p_role character varying) OWNER TO sinpe_user;

--
-- Name: delete_business(integer); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.delete_business(p_business_id integer) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
BEGIN
  DELETE FROM businesses WHERE id = p_business_id;
  RETURN FOUND;
END;
$$;


ALTER FUNCTION public.delete_business(p_business_id integer) OWNER TO sinpe_user;

--
-- Name: delete_customer(integer); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.delete_customer(p_customer_id integer) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
BEGIN
  DELETE FROM customers WHERE id = p_customer_id;
  RETURN FOUND;
END;
$$;


ALTER FUNCTION public.delete_customer(p_customer_id integer) OWNER TO sinpe_user;

--
-- Name: get_overdue_membership_customers(); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.get_overdue_membership_customers() RETURNS TABLE(customer_id integer, business_id integer, phone character varying, full_name character varying, payment_due_day integer, monthly_fee numeric, missed_payment_count integer)
    LANGUAGE plpgsql
    AS $$
DECLARE
  v_current_month INTEGER := EXTRACT(MONTH FROM CURRENT_DATE);
  v_current_year  INTEGER := EXTRACT(YEAR FROM CURRENT_DATE);
BEGIN
  RETURN QUERY
  SELECT
    c.id,
    c.business_id,
    c.phone,
    c.full_name,
    c.payment_due_day,
    c.monthly_fee,
    c.missed_payment_count
  FROM customers c
  WHERE
    -- Membership customers only
    c.payment_due_day IS NOT NULL
    -- Grace period has passed
    AND CURRENT_DATE > (
      DATE_TRUNC('month', CURRENT_DATE) + (c.payment_due_day - 1 + 5) * INTERVAL '1 day'
    )
    -- No payment recorded for current month/year
    AND NOT EXISTS (
      SELECT 1
      FROM payments p
      WHERE p.customer_id = c.id
        AND p.payment_period_month = v_current_month
        AND p.payment_period_year = v_current_year
        AND p.is_duplicate_flag = FALSE
        AND p.status != 'rejected'
    );
END;
$$;


ALTER FUNCTION public.get_overdue_membership_customers() OWNER TO sinpe_user;

--
-- Name: mark_customer_overdue(integer); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.mark_customer_overdue(p_customer_id integer) RETURNS TABLE(id integer, business_id integer, phone character varying, full_name character varying, missed_payment_count integer, good_standing_flag boolean)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  UPDATE customers
  SET missed_payment_count = customers.missed_payment_count + 1
  WHERE customers.id = p_customer_id
  RETURNING
    customers.id,
    customers.business_id,
    customers.phone,
    customers.full_name,
    customers.missed_payment_count,
    customers.good_standing_flag;
END;
$$;


ALTER FUNCTION public.mark_customer_overdue(p_customer_id integer) OWNER TO sinpe_user;

--
-- Name: mark_notification_read(integer); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.mark_notification_read(p_notification_id integer) RETURNS TABLE(id integer, business_id integer, payment_id integer, notification_type character varying, message text, is_read boolean, created_at timestamp without time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  UPDATE notifications
  SET is_read = TRUE
  WHERE notifications.id = p_notification_id
  RETURNING notifications.*;
END;
$$;


ALTER FUNCTION public.mark_notification_read(p_notification_id integer) OWNER TO sinpe_user;

--
-- Name: recalculate_frequent_buyer_flags(); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.recalculate_frequent_buyer_flags() RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
  v_updated INTEGER;
BEGIN
  WITH purchase_counts AS (
    SELECT
      p.customer_id,
      COUNT(*) AS recent_purchases
    FROM payments p
    WHERE
      p.payment_date >= NOW() - INTERVAL '30 days'
      AND p.is_duplicate_flag = FALSE
      AND p.status != 'rejected'
    GROUP BY p.customer_id
  )
  UPDATE customers c
  SET frequent_buyer_flag = COALESCE(pc.recent_purchases, 0) >= 3
  FROM (
    SELECT customer_id, recent_purchases FROM purchase_counts
    UNION
    -- Include customers with no recent payments so flag gets reset to false
    SELECT c2.id, 0
    FROM customers c2
    WHERE c2.total_purchases IS NOT NULL
      AND c2.id NOT IN (SELECT customer_id FROM purchase_counts)
  ) pc
  WHERE c.id = pc.customer_id
    AND c.total_purchases IS NOT NULL; -- product_sales customers only

  GET DIAGNOSTICS v_updated = ROW_COUNT;
  RETURN v_updated;
END;
$$;


ALTER FUNCTION public.recalculate_frequent_buyer_flags() OWNER TO sinpe_user;

--
-- Name: recalculate_good_standing_flags(); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.recalculate_good_standing_flags() RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
  v_updated INTEGER;
  v_current_month INTEGER := EXTRACT(MONTH FROM CURRENT_DATE);
  v_current_year  INTEGER := EXTRACT(YEAR FROM CURRENT_DATE);
BEGIN
  -- Build last 3 months as (month, year) pairs
  WITH last_3_months AS (
    SELECT
      EXTRACT(MONTH FROM d)::INTEGER AS month,
      EXTRACT(YEAR FROM d)::INTEGER  AS year
    FROM generate_series(
      DATE_TRUNC('month', CURRENT_DATE) - INTERVAL '2 months',
      DATE_TRUNC('month', CURRENT_DATE),
      INTERVAL '1 month'
    ) d
  ),
  -- For each membership customer, check payments in last 3 months
  customer_standing AS (
    SELECT
      c.id AS customer_id,
      -- good standing: 3 on-time payments AND 0 missed in those 3 months
      BOOL_AND(
        EXISTS (
          SELECT 1
          FROM payments p
          WHERE p.customer_id = c.id
            AND p.payment_period_month = m.month
            AND p.payment_period_year = m.year
            AND p.is_duplicate_flag = FALSE
            AND p.amount_mismatch_flag = FALSE
            AND p.status = 'confirmed'
        )
      ) AS is_good_standing
    FROM customers c
    CROSS JOIN last_3_months m
    WHERE c.payment_due_day IS NOT NULL  -- membership customers only
    GROUP BY c.id
  )
  UPDATE customers c
  SET good_standing_flag = cs.is_good_standing
  FROM customer_standing cs
  WHERE c.id = cs.customer_id;

  GET DIAGNOSTICS v_updated = ROW_COUNT;
  RETURN v_updated;
END;
$$;


ALTER FUNCTION public.recalculate_good_standing_flags() OWNER TO sinpe_user;

--
-- Name: update_business(integer, character varying, character varying, character varying); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.update_business(p_business_id integer, p_business_name character varying, p_business_type character varying, p_whatsapp_number character varying) RETURNS TABLE(id integer, user_id integer, business_name character varying, business_type character varying, whatsapp_number character varying, created_at timestamp without time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  UPDATE businesses
  SET business_name = p_business_name,
      business_type = p_business_type,
      whatsapp_number = p_whatsapp_number
  WHERE businesses.id = p_business_id
  RETURNING businesses.id, businesses.user_id, businesses.business_name,
            businesses.business_type, businesses.whatsapp_number, businesses.created_at;
END;
$$;


ALTER FUNCTION public.update_business(p_business_id integer, p_business_name character varying, p_business_type character varying, p_whatsapp_number character varying) OWNER TO sinpe_user;

--
-- Name: update_customer(integer, character varying, boolean, integer, numeric); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.update_customer(p_customer_id integer, p_full_name character varying, p_is_verified boolean, p_payment_due_day integer, p_monthly_fee numeric) RETURNS TABLE(id integer, business_id integer, phone character varying, full_name character varying, is_verified boolean, total_purchases integer, total_spent numeric, last_purchase_date timestamp without time zone, frequent_buyer_flag boolean, payment_due_day integer, monthly_fee numeric, membership_start_date date, on_time_payment_count integer, late_payment_count integer, missed_payment_count integer, good_standing_flag boolean, created_at timestamp without time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  UPDATE customers
  SET 
    full_name = COALESCE(p_full_name, customers.full_name),
    is_verified = COALESCE(p_is_verified, customers.is_verified),
    payment_due_day = COALESCE(p_payment_due_day, customers.payment_due_day),
    monthly_fee = COALESCE(p_monthly_fee, customers.monthly_fee)
  WHERE customers.id = p_customer_id
  RETURNING customers.*;
END;
$$;


ALTER FUNCTION public.update_customer(p_customer_id integer, p_full_name character varying, p_is_verified boolean, p_payment_due_day integer, p_monthly_fee numeric) OWNER TO sinpe_user;

--
-- Name: update_payment_status(integer, character varying); Type: FUNCTION; Schema: public; Owner: sinpe_user
--

CREATE FUNCTION public.update_payment_status(p_payment_id integer, p_status character varying) RETURNS TABLE(id integer, business_id integer, customer_id integer, amount numeric, payment_date timestamp without time zone, sinpe_reference character varying, sender_name character varying, sender_phone character varying, image_url text, payment_period_month integer, payment_period_year integer, is_duplicate_flag boolean, amount_mismatch_flag boolean, status character varying, created_at timestamp without time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
  RETURN QUERY
  UPDATE payments
  SET status = p_status
  WHERE payments.id = p_payment_id
  RETURNING payments.*;
END;
$$;


ALTER FUNCTION public.update_payment_status(p_payment_id integer, p_status character varying) OWNER TO sinpe_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: businesses; Type: TABLE; Schema: public; Owner: sinpe_user
--

CREATE TABLE public.businesses (
    id integer NOT NULL,
    user_id integer NOT NULL,
    business_name character varying(255) NOT NULL,
    business_type character varying(50) NOT NULL,
    whatsapp_number character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT businesses_business_type_check CHECK (((business_type)::text = ANY ((ARRAY['product_sales'::character varying, 'membership'::character varying])::text[])))
);


ALTER TABLE public.businesses OWNER TO sinpe_user;

--
-- Name: businesses_id_seq; Type: SEQUENCE; Schema: public; Owner: sinpe_user
--

CREATE SEQUENCE public.businesses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.businesses_id_seq OWNER TO sinpe_user;

--
-- Name: businesses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sinpe_user
--

ALTER SEQUENCE public.businesses_id_seq OWNED BY public.businesses.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: sinpe_user
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    business_id integer NOT NULL,
    phone character varying(20) NOT NULL,
    full_name character varying(255),
    is_verified boolean DEFAULT false,
    total_purchases integer DEFAULT 0,
    total_spent numeric(10,2) DEFAULT 0,
    last_purchase_date timestamp without time zone,
    frequent_buyer_flag boolean DEFAULT false,
    payment_due_day integer,
    monthly_fee numeric(10,2),
    membership_start_date date,
    on_time_payment_count integer DEFAULT 0,
    late_payment_count integer DEFAULT 0,
    missed_payment_count integer DEFAULT 0,
    good_standing_flag boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT customers_payment_due_day_check CHECK (((payment_due_day >= 1) AND (payment_due_day <= 31)))
);


ALTER TABLE public.customers OWNER TO sinpe_user;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: sinpe_user
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.customers_id_seq OWNER TO sinpe_user;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sinpe_user
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: sinpe_user
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    business_id integer NOT NULL,
    payment_id integer,
    notification_type character varying(50) NOT NULL,
    message text NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT notifications_notification_type_check CHECK (((notification_type)::text = ANY ((ARRAY['duplicate_payment'::character varying, 'amount_mismatch'::character varying, 'new_customer'::character varying, 'overdue_payment'::character varying, 'payment_received'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO sinpe_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: sinpe_user
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO sinpe_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sinpe_user
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: sinpe_user
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    business_id integer NOT NULL,
    customer_id integer,
    amount numeric(10,2) NOT NULL,
    payment_date timestamp without time zone NOT NULL,
    sinpe_reference character varying(255),
    sender_name character varying(255),
    sender_phone character varying(20),
    image_url text,
    payment_period_month integer,
    payment_period_year integer,
    is_duplicate_flag boolean DEFAULT false,
    amount_mismatch_flag boolean DEFAULT false,
    status character varying(50) DEFAULT 'confirmed'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT payments_status_check CHECK (((status)::text = ANY ((ARRAY['confirmed'::character varying, 'pending'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.payments OWNER TO sinpe_user;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: sinpe_user
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.payments_id_seq OWNER TO sinpe_user;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sinpe_user
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: sinpe_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    phone character varying(20),
    created_at timestamp without time zone DEFAULT now(),
    role character varying(20) DEFAULT 'user'::character varying NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['user'::character varying, 'superuser'::character varying, 'readonly_admin'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO sinpe_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: sinpe_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO sinpe_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sinpe_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: businesses id; Type: DEFAULT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.businesses ALTER COLUMN id SET DEFAULT nextval('public.businesses_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: businesses; Type: TABLE DATA; Schema: public; Owner: sinpe_user
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: sinpe_user
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: sinpe_user
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: sinpe_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sinpe_user
--

COPY public.users (id, email, password_hash, full_name, phone, created_at, role) FROM stdin;
1	john@example.com	$2b$10$Yk60.SEq3d3uVhW1o8kfVuk4lszL6SNt1wqY6j8An9lCY9uUiNGI2	John Doe	88888888	2026-02-14 21:00:45.181247	superuser
\.


--
-- Name: businesses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sinpe_user
--

SELECT pg_catalog.setval('public.businesses_id_seq', 7, true);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sinpe_user
--

SELECT pg_catalog.setval('public.customers_id_seq', 10, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sinpe_user
--

SELECT pg_catalog.setval('public.notifications_id_seq', 6, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sinpe_user
--

SELECT pg_catalog.setval('public.payments_id_seq', 8, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sinpe_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: businesses businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT businesses_pkey PRIMARY KEY (id);


--
-- Name: businesses businesses_whatsapp_number_key; Type: CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT businesses_whatsapp_number_key UNIQUE (whatsapp_number);


--
-- Name: customers customers_business_id_phone_key; Type: CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_business_id_phone_key UNIQUE (business_id, phone);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: payments payments_business_id_sinpe_reference_key; Type: CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_business_id_sinpe_reference_key UNIQUE (business_id, sinpe_reference);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_businesses_user_id; Type: INDEX; Schema: public; Owner: sinpe_user
--

CREATE INDEX idx_businesses_user_id ON public.businesses USING btree (user_id);


--
-- Name: idx_businesses_whatsapp; Type: INDEX; Schema: public; Owner: sinpe_user
--

CREATE INDEX idx_businesses_whatsapp ON public.businesses USING btree (whatsapp_number);


--
-- Name: idx_customers_business_id; Type: INDEX; Schema: public; Owner: sinpe_user
--

CREATE INDEX idx_customers_business_id ON public.customers USING btree (business_id);


--
-- Name: idx_customers_phone; Type: INDEX; Schema: public; Owner: sinpe_user
--

CREATE INDEX idx_customers_phone ON public.customers USING btree (phone);


--
-- Name: idx_notifications_business_id; Type: INDEX; Schema: public; Owner: sinpe_user
--

CREATE INDEX idx_notifications_business_id ON public.notifications USING btree (business_id);


--
-- Name: idx_notifications_is_read; Type: INDEX; Schema: public; Owner: sinpe_user
--

CREATE INDEX idx_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: idx_payments_business_id; Type: INDEX; Schema: public; Owner: sinpe_user
--

CREATE INDEX idx_payments_business_id ON public.payments USING btree (business_id);


--
-- Name: idx_payments_customer_id; Type: INDEX; Schema: public; Owner: sinpe_user
--

CREATE INDEX idx_payments_customer_id ON public.payments USING btree (customer_id);


--
-- Name: idx_payments_date; Type: INDEX; Schema: public; Owner: sinpe_user
--

CREATE INDEX idx_payments_date ON public.payments USING btree (payment_date);


--
-- Name: idx_payments_sinpe_reference; Type: INDEX; Schema: public; Owner: sinpe_user
--

CREATE INDEX idx_payments_sinpe_reference ON public.payments USING btree (sinpe_reference);


--
-- Name: businesses businesses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT businesses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: customers customers_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id) ON DELETE CASCADE;


--
-- Name: payments payments_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id) ON DELETE CASCADE;


--
-- Name: payments payments_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sinpe_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

GRANT ALL ON SCHEMA public TO sinpe_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES  TO sinpe_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES  TO sinpe_user;


--
-- PostgreSQL database dump complete
--

\unrestrict E3UQ8t4vggIVWPRgyNfazM71pRx0AzDpWDyfwmAQmjwODPqXU8LEQ2ZCDJXm3Le

